/bin/*
/lib/*
*.o
src/scotch/mcv
src/scotch/gord
src/scotch/amk_p2
src/scotch/amk_fft2
src/scotch/gmk_hy
src/scotch/mtst
src/scotch/amk_ccc
src/scotch/gmtst
src/scotch/amk_grf
src/scotch/acpl
src/scotch/gotst
src/scotch/mmk_m3
src/scotch/gbase
src/scotch/gmk_msh
src/scotch/gmk_ub2
src/scotch/gmk_m2
src/scotch/amk_hy
src/scotch/gmk_m3
src/scotch/gscat
src/scotch/gtst
src/scotch/gcv
src/scotch/gout
src/scotch/mmk_m2
src/scotch/gmap
src/scotch/amk_m2
src/scotch/atst
src/scotch/mord
src/scotch/gpart

/include/*

src/libscotch/dummysizes
src/libscotch/libscotch.a
src/libscotch/libscotcherr.a
src/libscotch/libscotcherrexit.a
src/libscotch/parser_ll.c
src/libscotch/parser_ly.h
src/libscotch/parser_yy.c
src/libscotch/scotch.h
src/libscotch/scotchf.h
src/libscotch/y.output
src/libscotchmetis/libscotchmetis.a
src/libscotchmetis/metis.h